# Godot cache and import files
.import/
*.import

# Godot local config and build dirs
.godot/
mono/
export/
android/
ios/

# Build outputs and exports
*.pck
*.wasm
*.js
*.html
*.apk
*.ipa

# User-specific files
.DS_Store
.vscode/
.idea/

# Save files and temp files
Saves/
*.tmp

# Icons
Vampire Survivors Proto.apple-touch-icon.png
Vampire Survivors Proto.icon.png
Vampire Survivors Proto.png
